body {
    background-color: #c27b49;
}

header {
    background-color: #8cca5b;
}

.ct,
.over:before {
    background: url(/image/background.png) no-repeat fixed 0 0 / cover;
    min-height: 450px;
}


.ct {
    align-items: center;
    display: flex;
    justify-content: center;
}

.over:before {
    content: '';
    filter: blur(20px);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.over {
    max-height: 200px;
    margin: 0 auto;
    max-width: 768px;
    overflow: hidden;
    padding: 50px;
    position: relative;
    color: white;
    font-family: 'Lato';
    text-align: center;
    z-index: 0;
}
